PORT=3000
NODE_ENV=development
DATABASE_URL=postgresql://neondb_owner:npg_TtpMf06gVLWn@ep-falling-night-auqixme9-pooler.c-10.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
FRONTEND_ORIGIN=http://127.0.0.1:5500

# Integração oficial futura
